---
export interface Props {
    postMetadata: {
        title: string,
        description: string,
        techStack: string[],
        image: {
            src: string,
            alt: string
        },
        slugDirectory: string,
        slug: string;
    }
    index: number
}

const { postMetadata, index } = Astro.props as Props;
---

<div class=`d-flex flex-column-reverse ${index % 2 == 0 ? 'flex-md-row-reverse' : 'flex-md-row'} mb-5`>
    <div class="col-12 col-md-6 overflow-hidden d-flex justify-content-center align-items-center px-2">
        <img class="object-fit-contain image-highlight" src={postMetadata.image.src} alt={postMetadata.image.alt} />
    </div>
    <div class="col-12 col-md-6 px-2">
        <div class="w-100 d-flex justify-content-center">
            <h2 class="mb-5 mt-4 text-center">{postMetadata.title}</h2>
        </div>
        <p>
            {postMetadata.description}
        </p>
        <div class="my-3">
            <span class="fw-semibold">Tech stack:</span>
            <ul class="taglist">
                {postMetadata.techStack.map(tech => (
                    <li>
                        <span class="badge rounded-pill text-bg-light">{tech}</span>
                    </li>
                ))}
            </ul>
        </div>
        <a class="btn btn-primary" href={postMetadata.slugDirectory + postMetadata.slug}>Read More</a>
    </div>
</div>

<style>
      
  .taglist {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .taglist li {
    display: inline;
  }

  .image-highlight {
    max-width: 100%;
    height: fit-content;
    border: 3px solid #c8c8c8;
    border-radius: 8px;
    overflow: hidden;
  }
</style>