---
import { marked } from 'marked';

export interface Props {
    postMetadata: {
        title: string,
        subTitle?: string,
        description: string,
        techStack: string[],
        media: {
            src: string,
            alt: string
        },
        slugDirectory: string,
        slug: string;
    }
    index: number
}

const { postMetadata, index } = Astro.props as Props;
---

<div class=`content-container ${index % 2 == 1 ? 'feature-grid--reverse' : ''} mb-24 no-underline text-current`>
    <div class="feature-image">
        {
            postMetadata.media.src.endsWith(".mp4") || postMetadata.media.src.endsWith(".webm") ?
            <video class="object-contain image-highlight" src={postMetadata.media.src} width="640" height="360" autoplay muted loop>
                Your browser does not support the video tag.
            </video>
            : 
            <img class="object-contain image-highlight bg-neutral-400" src={postMetadata.media.src} alt={postMetadata.media.alt} />
        }
    </div>
    <div class="feature-text">
        <div class="mb-8">
            <p class="label-md text-gray-400 uppercase">{postMetadata.subTitle}</p>
            <h3 class="h3">{postMetadata.title}</h2>
        </div>
        
        <div class="prose" set:html={marked.parse(postMetadata.description, {breaks: true, gfm: true})}></div>
        <div class="my-6">
            <ul class="list-none flex flex-wrap horizontal-list">
                <!--
                <li class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M7.5 7.5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                        <path d="M3 6v5.172a2 2 0 0 0 .586 1.414l7.71 7.71a2.41 2.41 0 0 0 3.408 0l5.592 -5.592a2.41 2.41 0 0 0 0 -3.408l-7.71 -7.71a2 2 0 0 0 -1.414 -.586h-5.172a3 3 0 0 0 -3 3z"></path>
                    </svg>
                </li>
                 -->
                {postMetadata.techStack.map(tech => (
                    <li class="label-md">{tech}</li>
                ))}
            </ul>
        </div>
        <div class="flex max-md:justify-center">
            <a class="btn-bevel btn-bevel-primary" href={postMetadata.slugDirectory + postMetadata.slug}>
                Read more
            </a>
        </div>
    </div>
</div>

<style>
      
  .taglist {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .taglist li {
    display: inline;
  }

  .image-highlight {
    max-width: 100%;
    height: fit-content;
    overflow: hidden;
  }

  .content-container:hover .project-read-more  {
    rotate: -45deg;
  }
</style>